[package]
name = "kafka-proto"
version = "0.1.0"
edition = "2021"

[dependencies]
uuid = { version = "1.9.1", features = ["serde"] }
byteorder = "1.5.0"
varint-rs = "2.2.0"
serde = { version = "1.0.204", features = ["derive"] }
log = "0.4.22"
paste = "1.0.15"

[dev-dependencies]
serde_json = "1.0.120"
rstest = "0.21.0"
proptest = "1.5.0"
proptest-derive = "0.5.0"
base64 = "0.22.1"
static_init = "1.0.3"
